.petsCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 10px;
  place-items: center;
  margin: 0;
}

.petPic {
  border-radius: 50%;
  height: 220px;
}

.petImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
