.container {
  display: table;
  width: 100%;
  padding-right: var(--mdb-gutter-x, 0.75rem);
  padding-left: var(--mdb-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
}

form#add-pet .col {
  margin-bottom: 1rem;
}
