.navBar-container {
  background-color: #e8e8e8;
  border-top: 5px solid rgb(59 113 202);
  border-left: 5px solid rgb(59 113 202);
  border-right: 5px solid rgb(59 113 202);
  border-bottom: 5px solid rgb(59 113 202);
}

.right-NavBar {
  display: flex;
  position: absolute;
  right: 0;
}
