.search-location {
  display: grid;
  place-items: center;
  padding-top: 2rem;
  width: 90%;
  margin: 0 auto;
}

.search-location .form-outline {
  flex: 1;
}

.search-location .inputs {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-location .adoption-status-input {
  flex: 0 0 165px;
}

#advanced-search {
  margin-left: 0.5rem;
}
